		<!-- JavaScript -->
    <script src="./src/js/script.js"></script>
		<!-- TypeScript -->
		<script src="./src/ts/script.js"></script>
		<!-- CoffeeScript -->
		<script src="./src/cs/script.js"></script>
  </body>
	<footer>
		<p>&copy; Year | Your Name Here</p>
	</footer>
</html>