		<!-- Badges -->
		<a class="no-animate badge3" href="https://github.com/MrIntellectual/Web-Dev-Template" target="_blank">
			<img src="https://res.cloudinary.com/dakygv2vu/image/upload/v1617208357/cdn/gbmfzv.png" alt="GitHub">
 			<strong>This Repo</strong>	
  	</a>
		<a class="no-animate badge2" href="https://github.com/MrIntellectual" target="_blank">
			<img src="https://res.cloudinary.com/dakygv2vu/image/upload/v1617208357/cdn/gbmfzv.png" alt="GitHub">
 			<strong>My Github</strong>	
  	</a>
		<a class="no-animate badge" href="https://repl.it/@IntellectualGuy" target="_blank">
			<img src="https://CoolCoderSJ.repl.co/replit-logo.svg" alt="replit" >
			My Repl.it
		</a>
		<!-- JavaScript -->
    <script src="js/script.js"></script>
		<!-- TypeScript -->
		<script src="ts/script.js"></script>
		<!-- CoffeeScript -->
		<script src="cs/script.js"></script>
  </body>
	<footer>
		<p>&copy; Year | Your Name Here</p>
	</footer>
</html>