		<a class="badge2 no-animate" href="https://github.com/MrIntellectual" target="_blank">
		<img src="https://res.cloudinary.com/dakygv2vu/image/upload/v1617208357/cdn/gbmfzv.png" alt="replit">
 		<strong>MrIntellectual</strong>	
  	</a>
		<a class="badge" href="https://repl.it/@IntellectualGuy" target="_blank">
		<img src="https://CoolCoderSJ.repl.co/replit-logo.svg" alt="replit" >IntellectualGuy</a>
		<!-- JavaScript -->
    <script src="js/script.js"></script>
  </body>
</html>